.navbar {
  background-color: #343a40;
}

.nav-button {
  width: 88px;
}

a.nav-text {
  color: #abb5be !important;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

i:hover {
  cursor: pointer;
}

.card {
  width: 18rem;
}

input[type="checkbox"] {
  display: none !important;
}

.strike {
  text-decoration: line-through !important;
}

.dash {
  border: 1px dashed lightgrey !important;
}

.about-link {
  text-decoration: none;
}

.milestone-input {
  background-color: #f1f2f3;
  border: none;
  cursor: pointer;
}

.milestone-input:focus {
  background-color: #fff;
  cursor: text;
}

nav ul li a,
nav ul li a::after,
nav ul li a::before {
  transition: all 0.5s !important;
}

nav ul li a:hover {
  color: #fff !important;
  transform: scale(1.01);
}
